
.button-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffebdb;
  color: #000000;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #5B5F8E;
  color: #fff;
  
}